#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;
}

.login-modal {
  display: flex;
  flex-direction: column;
  gap: 12px;
  max-width: 360px;
  margin: auto;
  padding: 24px;
  background: white;
  border-radius: 8px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
}

.login-modal-message {
  font-size: 16px;
  font-weight: 500;
  text-align: center;
  margin-bottom: 8px;
}

.login-modal-input .MuiInputBase-root {
  border-radius: 8px;
}

.login-modal-button {
  margin-top: 12px !important;
  border-radius: 8px !important;
  text-transform: none !important;
}

.login-modal-error {
  color: red;
  font-size: 14px;
  text-align: center;
}

.container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 20px;
  text-align: center;
  display: flex;
  align-items: flex-start;
  display: flex;
}

.card-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 16px;
  margin-top: 20px;
}

.card {
  width: 220px;
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
  transition: transform 0.2s;
}

.card:hover {
  transform: scale(1.02);
}

.search-container {
  display: flex;
  flex-direction: column;
  padding: 10px;
  background: #f9f9f9;
  border-radius: 10px;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
  max-width: 300px;
  min-width: 200px;
  margin: 0px 25px;
}
.search {
  position: sticky;
  z-index: 100;
  top: 70px;
  margin-top: 10px;
}

.search-field {
  width: 90%;
  min-width: 300px;
}
.sort-field {
  display: flex;
  gap: 5px;
  align-items: center;
  justify-content: space-between;
  margin: 10px 0;
}

.search-buttons {
  display: flex;
  justify-content: space-between;
  margin-top: 1rem;
}

.search-buttons button {
  background-color: #54a4f4;
  color: white;
  padding: 10px 15px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 14px;
  width: 90px;
}
.search-buttons button:hover {
  background-color: #1565c0;
}

.submit-button {
  background-color: #54a4f4 !important;
  color: white;
  padding: 10px 15px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 14px;
  width: 280px;
  margin: 10px !important;
}

.sort-title {
  font-size: 12px;
}

.search-header {
  font-weight: bold;
  font-size: 18px;
  margin: 10px 0;
}
.page {
  align-items: center;
}

.matchedDog-modal {
  position: fixed;
  font-size: 28px;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.8);
  color: white;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  z-index: 1000;
}
